<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<div>
  <p>Initial Loan Amount:</p>
  <label>
    <input id="init" type="number" min="0" step=".01"/>
  </label>
  <br />

  <p>Loan Term:</p>
  <label>
    <input id="term" type="number" min="0" step="0.1"/>
  </label>
  <br />

  <select id="b" class="center">
    <option value="months">Months</option>
    <option value="years">Years</option>
  </select>
  <br />
  <br />

  <p>Annual Interest Rate (%):</p>
  <label>
    <input id="interest" type="number" min="0"/>
  </label>
  <br />
  <br />

  <button type="button" class="center" (click)="calculate();">Calculate</button>
  <br />

  <p>
    {{answer}}
  </p>


</div>
<router-outlet></router-outlet>
